<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign in with Apple Sample App</title>
    <meta charset="utf-8" />
    <meta name="description" content="A sample implementation of Sign in with Apple using ASP.NET Core." />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/css/bootstrap.min.css" integrity="sha512-XWTTruHZEYJsxV3W/lSXG1n3Q39YIWOstqvmFsdNEEQfHoZ6vm6E9GK2OrF6DSJSpIbRbi+Nn0WDPID9O7xB2Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark">
        <div class="container">
            <a href="~/" class="navbar-brand">Sign in with Apple</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#site-navbar" aria-controls="site-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="site-navbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/martincostello/SignInWithAppleSample" rel="noopener" target="_blank" title="Visit this application's GitHub repository">This repository on GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://developer.apple.com/documentation/signinwithapplerestapi" rel="noopener" target="_blank" title="Read the Sign in with Apple REST API documentation">Sign in with Apple Documentation</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Copyright &copy; Martin Costello, @DateTimeOffset.UtcNow.Year. All rights reserved.</p>
            <p>Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</p>
        </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js" integrity="sha512-9GacT4119eY3AcosfWtHMsT5JyZudrexyEVzTBWV3viP/YfB9e2pEy3N7WXL3SV6ASXpTU0vzzSxsbfsuUH4sQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>
