<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign in with Apple Sample App</title>
    <meta charset="utf-8" />
    <meta name="description" content="A sample implementation of Sign in with Apple using ASP.NET Core." />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a href="~/" class="navbar-brand">Sign in with Apple</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#site-navbar" aria-controls="site-navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="site-navbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/martincostello/SignInWithAppleSample" rel="noopener" target="_blank" title="Visit this application's GitHub repository">This repository on GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://developer.apple.com/documentation/signinwithapplerestapi" rel="noopener" target="_blank" title="Read the Sign in with Apple REST API documentation">Sign in with Apple Documentation</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Copyright &copy; Martin Costello, @DateTimeOffset.UtcNow.Year. All rights reserved.</p>
            <p>Powered by @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription</p>
        </footer>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
