.DS_Store
.dotnetcli
.metadata
.settings
.vs
.well-known
_Chutzpah*
_ReSharper*
_reports
_UpgradeReport_Files/
artifacts/
Backup*/
bin
Bin
BuildOutput
node_modules
obj
packages
project.lock.json
PublishProfiles
TestResults
UpgradeLog*.htm
UpgradeLog*.XML
PublishProfiles
*.DotSettings
*.GhostDoc.xml
*.cer
*.csr
*.key
*.log
*.map
*.nupkg
*.opensdf
*.[Pp]ublish.xml
*.p12
*.p7b
*.p8
*.pem
*.pfx
*.publishproj
*.pubxml
*.sdf
*.sln.cache
*.sln.docstates
*.sln.ide
*.suo
*.user
