@page "/"
@model IndexModel

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1 class="h5">Sign in with Apple</h1>
        </div>
        <div class="card-body">
            <p class="lead">
                This page demonstrates an integration of <a href="https://developer.apple.com/sign-in-with-apple/" rel="noopener" target="_blank">Sign in with Apple</a>.
            </p>
            @if (User?.Identity?.IsAuthenticated ?? false)
            {
                <p class="text-justify">
                    @foreach (var claim in User.Claims)
                    {
                        <div>
                            <code>@claim.Type</code>: <strong>@claim.Value</strong> (<code>@claim.Issuer</code>)
                        </div>
                    }
                </p>

                <form action="/signout" method="post" asp-antiforgery="true">
                    <button class="btn btn-lg btn-danger" type="submit">
                        Sign out
                    </button>
                </form>
            }
            else
            {
                <p class="text-justify">
                    Click the button below to sign into this sample application with your Apple ID.
                </p>
                <form action="/signin" method="post" asp-antiforgery="true">
                    <button class="btn btn-lg btn-dark m-1 sign-in-with-apple" type="submit">
                        Sign in with Apple
                    </button>
                </form>
            }
        </div>
    </div>
</div>
