name: build

on:
  push:
    branches: [ main ]
    paths-ignore:
    - '**/*.gitattributes'
    - '**/*.gitignore'
    - '**/*.md'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  contents: read

env:
  APPLICATION_URL_PROD: https://signinwithapple.martincostello.com
  AZURE_WEBAPP_NAME: sign-in-with-apple
  AZURE_WEBAPP_PACKAGE_PATH: ./artifacts/publish
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  DOTNET_MULTILEVEL_LOOKUP: 0
  DOTNET_NOLOGO: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: 1
  DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: 1
  NUGET_XMLDOC_MODE: skip
  TERM: xterm

jobs:
  build:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ macos-latest, ubuntu-latest, windows-latest ]

    steps:

    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup .NET SDK
      uses: actions/setup-dotnet@v2

    - name: Build, test and publish
      shell: pwsh
      run: ./build.ps1 -Runtime win10-x64

    - name: Publish artifacts
      uses: actions/upload-artifact@v3
      if: ${{ runner.os == 'Windows' }}
      with:
        name: webapp
        path: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}

  deploy:
    if: ${{ github.event.repository.fork == false && github.ref == format('refs/heads/{0}', github.event.repository.default_branch) }}
    name: deploy-production
    needs: build
    runs-on: windows-latest
    concurrency: production_environment
    environment:
      name: production
      url: ${{ env.APPLICATION_URL_PROD }}

    steps:

    - name: Download artifacts
      uses: actions/download-artifact@v3
      with:
        name: webapp

    - name: Deploy to Azure App Service
      uses: azure/webapps-deploy@v2
      id: deploy_production
      with:
        app-name: ${{ env.AZURE_WEBAPP_NAME }}
        publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE  }}
